<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lolyhub.lolyhubapp">
    <uses-permission android:name="android.permission.INTERNET"/>
    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true" />
    <application
        android:allowBackup="true"
        android:name="com.neosoft.lolyhub.lolyhubapp.ApplicationUtil"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="com.neosoft.lolyhub.lolyhubapp.view.activities.ProductActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.neosoft.lolyhub.lolyhubapp.view.activities.LoginActivity"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible">
        </activity>
        <activity android:name="com.neosoft.lolyhub.lolyhubapp.view.activities.SignUpActivity"
            android:theme="@style/NoActionBar">
        </activity>
        <activity android:name="com.neosoft.lolyhub.lolyhubapp.view.activities.CartActivity"
            android:theme="@style/Theme.AppCompat.Translucent"/>
       <!-- <activity android:name="com.neosoft.lolyhub.lolyhubapp.view.activities.HomeActivity"
            android:theme="@style/NoActionBar">
        </activity>-->
        <activity android:name="com.neosoft.lolyhub.lolyhubapp.view.activities.WishlistActivity"
            android:theme="@style/Theme.AppCompat.Translucent"/>
       <!-- <activity android:name="com.neosoft.lolyhub.lolyhubapp.view.activities.ProductActivity"
            android:theme="@style/AppTheme"/>-->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
        android:value="@string/facebook_app_id" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/facebook_app_id" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ox35XZPjEEPYSN1mYY3gYkT4t"
            />
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="ox35XZPjEEPYSN1mYY3gYkT4t" />
    </application>
</manifest>